header {
    padding: 40px;
    border: 1px solid #EAEAEA;
    ul{
      .cartPrice{
        cursor: pointer;
      }
    }
    h3,
    p {
      margin: 0;
    }
  
  
    p {
      font-size: 14px;
      line-height: 17px;
      color: #9D9D9D;
    }
  
    img {
      margin-right: 15px;
    }
  }